.react-calendar {
    background-color: #363344; /* Background color */
    color: white; /* Dates in white */
  }
  
  .react-calendar__tile {
    background: transparent; /* Remove default background */
  }
  
  .react-calendar__tile--now {
    background: #6C5569 !important; /* Current date background color */
  }
  
  .react-calendar__tile--active {
    background: #6C5569 !important; /* Active date background color */
    color: white !important; /* Active date color */
  }
  